<div class="jumbotron mt-3">
    <div class="text-center">
        <h5>CAMPEONATO DE FILMES</h5>
        <h2 class="display-4">Resultado Final</h2>
        <p>Veja o resultado final do Campeonato de filmes de forma simples e rápida.</p>
    </div>
</div>

<div>
    <div class="card mb-3" style="max-height: 200px;">
        <div class="row no-gutters">
            <div class="col-md-1">
                <img src="../../../assets/imagens/primeiro.jpg" class="img-fluid" alt="...">
            </div>
          <div class="col-md-8">
            <div class="card-body pt-5">
              <h2 class="display-5">{{(resultadoCompeticao$ | async)?.campeao.titulo}}</h2>
            </div>
          </div>
        </div>
      </div>

    <div class="card mb-3" style="max-height: 200px;">
        <div class="row no-gutters">
            <div class="col-md-1">
                <img src="../../../assets/imagens/segundo.jpg" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body pt-5">
                    <h2 class="display-5">{{(resultadoCompeticao$ | async)?.viceCampeao.titulo}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>