<div class="jumbotron mt-3">
    <div class="text-center">
        <h5>CAMPEONATO DE FILMES</h5>
        <h2 class="display-4">Fase de Seleção </h2>
        <p>Selecione 8 filmes que você deseja que entrem na competição e depois pressione o botão Gerar Meu Campeonato para prosseguir.</p>
    </div>
</div>
<div class="container-md-fluid ">
    <div class="d-flex  justify-content-between">
        <div class="alert alert-warning" role="alert">
            Selecionados
            {{this.filmesSelecionados.length}} de 8 filmes
        </div>
        <div>
            <button  class="btn btn-dark" (click)="gerarCompeticao()" [disabled]="desativarBotaoGerar">Gerar Meu Campeonato</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="d-flex flex-wrap  flex-row">
            <div *ngFor="let filme of filmes; let i = index" class="col-md-3 my-1" >
                <div class=" card cardFilme">
                    <div class="card-header">
                        <div class="form-check">
                            <input #check class="form-check-input" type="checkbox"
                                   (click)="selecionarFilme(filme, i)"
                                   [disabled]="desativarSelecao"
                                   value="checked">
                            <label class="form-check-label">
                                {{filme.titulo}}
                            </label>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text"> Ano de Lançamento: {{filme.ano}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
