.cardFilmes{
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
}

.cardFilmes > div {
    flex: 1 1;
    margin: 10px 0;
}

.painel {
    display: flex;
    justify-content: space-between ;
    max-width: 1400px;
    margin: auto ;
    
}

